{% layout 'layout.layout' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2> {{plane.manufacturer}} </h2>
      <h4>The model of this plane is {{airplane.model}} </h4>
      {% if airplane.owner == userId %}
        <hr>
        <div class="btn-group">
          <a href="/airplanes/edit/{{airplane.id}}" class="btn btn-primary">Edit {{airplane.manufacturer}} </a>
          <form action="/airplanes/{{airplane.id}}?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete {{airplane.manufacturer}}"> 
          </form>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}