{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2> {{plane.manufacturer}} </h2>
      <h4>The model of this plane is {{plane.model}} </h4>
      <h4>Airline operator is: {{plane.airline}} </h4>
      {% if plane.owner == userId %}
        <hr>
        <div class="btn-group">
          <a href="/airplanes/edit/{{plane.id}}" class="btn btn-primary">Edit {{plane.manufacturer}} </a>
          <form action="/airplanes/{{plane.id}}?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete {{plane.manufacturer}}"> 
          </form>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}